<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">

<main layout:fragment="content">
    <title th:text="#{update.title}"></title>
    <h2 th:text="#{update.title}"></h2>

    <th:block th:object="${data}">
        <dl>
            <label th:text="#{board.id}"></label>
            <dd>
                <input type="text" style="width:270px" th:value="${id}" readonly>
            </dd>
        </dl>
        <dl>
            <label th:text="#{board.poster}"></label>
            <dd>
                <input type="text" style="width:270px" th:value="*{poster}" readonly>
            </dd>
        </dl>
        <dl>
            <label th:text="#{board.subject}"></label>
            <dd>
                <input type="text" style="width:270px" name="subject" th:field="*{subject}" th:value="*{subject}">
            </dd>
        </dl>

        <dl>
            <label th:text="#{board.content}"></label>
            <dd>
                <textarea rows=3 cols=36 name="content" th:field="*{content}" th:value="*{content}"></textarea>
            </dd>
        </dl>
        <br>
        <br>
        <a th:href="@{/board/update}"  th:text="#{button.update}"></a>

    </th:block>

</main>
</html>