<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">

<main layout:fragment="content">
    <title th:text="#{update.title}"></title>
    <h2 th:text="#{update.title}"></h2>

    <th:block th:object="${data}">
        <div>
            <label th:text="#{board.id}"></label>
            <input type="text" th:value="${id}" readonly>
        </div>
        <div>
            <label th:text="#{board.poster}"></label>
            <input type="text" th:value="*{poster}" readonly>
        </div>
        <div>
            <label th:text="#{board.subject}"></label>
            <input type="text" th:value="*{subject}">
        </div>
        <div>
            <label th:text="#{board.content}"></label>
            <input type="text" th:value="*{content}">
        </div>

        <br>
        <br>

<!--        <a th:href="@{/board/update/{id}(id=${id})}"  th:text="#{button.update}"></a>       -->
        <a th:href="@{/board/writeBoard}"  th:text="#{button.update}"></a>
    </th:block>

</main>
</html>